/* 1. @Font-Face Ñ load my google fonts... */
/*TK*/
 
/* END @Font-Face */

/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

* {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  /**/
/*
  transition: all 50ms;
  -webkit-transition: all 50ms;
  -moz-transition: all 50ms;
  -o-transition: all 50ms;
  -ms-transition: all 50ms;
*/
}

figure { margin: 0; padding: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: black;
  text-align: center;
}

.nm { margin-left: 0 !important; margin-right: 0 !important; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
}

header #logo {}

#main {}

#main article {
}

footer {
  margin: 0;
  padding: 0px;
}

/* custom styles for C layering effect */

html, body {height: 101%;}
body {
 padding: 20px 0 0 0;
}

header {
  background: transparent url('../img/pedestriansincrosswalk.jpg') center top no-repeat;
  background-size: cover;
  z-index: -9999;
  overflow: hidden;
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
}

header img, footer img {
  height:auto;
  width: 100% !important;
}

footer {
  background: transparent url('../img/p1020004.jpg') center bottom no-repeat;
  background-size: cover;
  height: 0px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom:0;
  left: 0;
  z-index: -9998;
}

footer img {
  position: absolute;
  bottom:0;
  left:0;
}

article.layers {
  position: relative;
  text-align: center;
  height: 690px;
}

.layers .layer {
  height: 220px;
  background: transparent;
  margin-bottom: 20px;
  opacity: .22;
  position: relative;
}

article.teaser, article.copyright {
  padding: 350px 0;
}

article.copyright {
  padding: 150px 0;
}


/* TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */

/* Links and More */
/* =================================================================== */
/* =================================================================== */

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
  background: rgba(132,132,120,.1);
  border-bottom: 1px solid rgba(236,64,121,1);
  padding: 1px 2px 1px 2px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover { 
  background: rgba(236,64,121,1);
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(236,64,121,1);
  color: white;
  text-shadow: none;
}




