/* 1. @Font-Face Ñ load my google fonts... */
/*TK*/
 
/* END @Font-Face */

/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

* {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  /**/
/*   transition: all 400ms; */
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.teaser {
  position: relative;
  text-align: center;
}

.teaser h1 {
  /*fallback size*/
  font-size: 72px;
  line-height: 81px;
  /**/
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  /**/
/*   text-shadow: 3px 3px 6px rgba(151,151,151,.5); */
  text-shadow: 0px 4px 9px rgba(56,48,8,.5);
}

.teaser p {
  font-size: 36px;
  line-height: 54px;
  margin-top: 18px;
  text-shadow: 1px 1px 3px rgba(151,151,151,.5);
}

.copyright {font-size: 85%;}

/* custom styles for C layering effect */

header {
  background: blue;
  background: transparent url('../img/pedestriansincrosswalk.jpg') center top no-repeat;
  background-size: cover;
  z-index: -9999;
  overflow: hidden;
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
}

footer {
  background: red;
  background: transparent url('../img/p1020004.jpg') center bottom no-repeat;
  background-size: cover;
  height: 0px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom:0;
  left: 0;
  z-index: -9998;
}

header img, footer img {
  height:auto;
  width: 100% !important;
}

footer img {
  position: absolute;
  bottom:0;
  left:0;
}

/* Cs themselves */

#main, #secondary {position: relative;}

#main {
  margin: 0;
  padding: 0;
}

article.layers {
  position: absolute;
  text-align: center;
  height: 690px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.layers .layer {
  background: transparent;
  margin: 0;
  padding: 0;
  opacity: .33;
  position: relative;
  float:left;
}

/* .layers .layer.twenty-two { opacity: .22; } */
.layers .layer.forty-four { opacity: .44; }

/* initial page-load positioning */

article.copyright {
  position: absolute;
  bottom:20px;
}

/**/ 
#pagedown {
  position: fixed;
  bottom: 36px;
  left: 50%;
  /**/
  background: none;
  border: none;
  font-size: 72px;
  line-height: 72px;
  margin: 0;
  margin-left: -36px;
  opacity: .66;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 72px;
  z-index: 999;
}

/* TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */

/* Links and More */
/* =================================================================== */
/* =================================================================== */

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
  background: rgba(132,132,120,.1);
  border-bottom: 1px solid rgba(236,64,121,1);
  padding: 1px 2px 1px 2px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover { 
  background: rgba(236,64,121,1);
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(236,64,121,1);
  color: white;
  text-shadow: none;
}




