.counter {
  position: fixed;
  right:20px;
  text-align: right;
}

.scrollcount    { top: 20px; }
.documentheight { top: 50px; }
.windowheight   { top: 80px; }
.ratio          { top:110px; }
.multiplier     { top:140px; }


.filler {
  margin: 300px 20px;
}

/**/
header {
  position: fixed;
  margin: 20px;
  height: 270px;
  top:20px;
  left:20px;
}

header img {
  position: absolute;
  height: 270px;
  width: 270px;
  top:0;
  left: 0;
  opacity: .33;
}