
/* ========================================== */
/* ITC FRANKLIN GOTHIC FONT-FACE DECLARATIONS */
/* ========================================== */

@font-face {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('ff/fgbook.eot');
  src: local('ITC Franklin Gothic Std Book'), local('ITCFranklinGothicStd-Book'), local('☺'), url('ff/fgbook.woff') format('woff'), url('ff/fgbook.ttf') format('truetype'), url('ff/fgbook.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: italic;
  font-weight: 400;
  src: url('ff/fgbookital.eot');
  src: local('ITC Franklin Gothic Std Book Italic'), local('ITCFranklinGothicStd-BookIt'), local('☺'), url('ff/fgbookital.woff') format('woff'), url('ff/fgbookital.ttf') format('truetype'), url('ff/fgbookital.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('ff/fgdemi.eot');
  src: local('ITC Franklin Gothic Std Demi'), local('ITCFranklinGothicStd-Demi'), local('☺'), url('ff/fgdemi.woff') format('woff'), url('ff/fgdemi.ttf') format('truetype'), url('ff/fgdemi.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: italic;
  font-weight: 700;
  src: url('ff/fgdemiital.eot');
  src: local('ITC Franklin Gothic Std Demi Italic'), local('ITCFranklinGothicStd-DemiIt'), local('☺'), url('ff/fgdemiital.woff') format('woff'), url('ff/fgdemiital.ttf') format('truetype'), url('ff/fgdemiital.svg') format('svg');
}

/* ========================================== */
/* NEW CENTURY SCHOOL BOOK FONT-FACE DECLARATIONS */
/* ========================================== */

@font-face {
  font-family: 'New Century Schoolbook';
  font-style: normal;
  font-weight: 400;
  src: url('ff/newcenturyschlbkltstd_roman-webfont.eot');
  src: local('New Century Schoolbook LT STD Roman'), local('NewCenturySchlbkLTStd-Roman'), local('☺'), url('ff/newcenturyschlbkltstd_roman-webfont.woff') format('woff'), url('ff/newcenturyschlbkltstd_roman-webfont.ttf') format('truetype'), url('ff/newcenturyschlbkltstd_roman-webfont.svg#new_century_schoolbook_lroman') format('svg');
}

@font-face {
  font-family: 'New Century Schoolbook';
  font-style: italic;
  font-weight: 400;
  src: url('ff/newcenturyschlbkltstd_it-webfont.eot');
  src: local('New Century Schoolbook LT STD Italic'), local('NewCenturySchlbkLTStd-It'), local('☺'), url('ff/newcenturyschlbkltstd_it-webfont.woff') format('woff'), url('ff/newcenturyschlbkltstd_it-webfont.ttf') format('truetype'), url('ff/newcenturyschlbkltstd_it-webfont.svg#newcenturyschlbk_lt_stditalic') format('svg');
}

@font-face {
  font-family: 'New Century Schoolbook';
  font-style: normal;
  font-weight: 700;
  src: url('ff/newcenturyschlbkltstd_bd-webfont.eot');
  src: local('New Century Schoolbook LT STD Bold'), local('NewCenturySchlbkLTStd-Bd'), local('☺'), url('ff/newcenturyschlbkltstd_bd-webfont.woff') format('woff'), url('ff/newcenturyschlbkltstd_bd-webfont.ttf') format('truetype'), url('ff/newcenturyschlbkltstd_bd-webfont.svg#newcenturyschlbk_lt_stdbold') format('svg');
}

@font-face {
  font-family: 'New Century Schoolbook';
  font-style: italic;
  font-weight: 700;
  src: url('ff/newcenturyschlbkltstd_bdit-webfont.eot');
  src: local('New Century Schoolbook LT STD Bold Italic'), local('NewCenturySchlbkLTStd-BdIt'), local('☺'), url('ff/newcenturyschlbkltstd_bdit-webfont.woff') format('woff'), url('ff/newcenturyschlbkltstd_bdit-webfont.ttf') format('truetype'), url('ff/newcenturyschlbkltstd_bdit-webfont.svg#newcenturyschlbk_lt_stdBdIt') format('svg');
}

/** FONT STACK TO USE FOR NOW: **/
/** SANS: font-family: 'Franklin Gothic', 'Liberation Sans', 'Nimbus Sans L', Helvetica, Arial, Sans-Serif; **/
/** SERIF: font-family: 'New Century Schoolbook', Constantia, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
; **/

html,body,h1,h2,h3,h4,h5,h6,p {
  font-family: 'Franklin Gothic', 'Liberation Sans', 'Nimbus Sans L', Helvetica, Arial, Sans-Serif;
  color: #1a2a35;
}

h1,h2,h3,h4,h5,h6 { font-weight: 700; }

html, body { background-color: white; }

article a, section a, .link-lists a { 
  color: #2b4557 !important;
}

a {
  color: #2b4557;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0f181e;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* a bunch of quick corrections and global things... */
.add-top { margin-top: 30px; }
.add-bottom { margin-bottom: 30px; }
.no-top { margin-top: 0; }
.no-bottom { margin-bottom: 0; }
.pad-top { padding-top: 51px; }
.pad-top.border-top { padding-top: 51px; }
.border-top { border-top: 1px solid; padding-top: 15px; }
hr.border-top {padding: 0;}
.noleftmargin {padding-left: 0 !important;}
em, cite {font-style: italic !important;}
.progress, .progress-bar { height: 30px; }
.disabled { display: none !important; }
.btn.add-top {margin-top: 30px;}
img.fit {width: 100%;}

/******************************************/
/******************************************/
/* NAVIGATION STUFF - Overrides a lot of default bootstrap stuff */
/******************************************/
/******************************************/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eff4f7;
  border-bottom: transparent;
}

.navbar {
  background: white;
  left:0;
  right:0;
  border-width: 0;
  color:#1a2a35;
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #1a2a35;
  border: none !important;
}

.navbar > .container .navbar-brand {
  margin-left: -15px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #2b4557 !important;
  text-decoration: none;
  background-color: transparent;
}

.navbar-nav > li > a {
  color: #1a2a35;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #2b4557;
  background-color: transparent;
  background-color: #eff4f7;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #2b4557;
  background-color: #e4ecf2;
}

.nav li .text { padding-top: 15px;}

.nav-tabs {
  color: #090f13;
  border-bottom: 1px solid #d9e4ec;
}

.nav-tabs > li > a:hover {
  border-color: #eff4f7;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #1a2a35;
  background-color: white;
  border: 1px solid #e4ecf2;
  border-bottom-color: transparent;
}

.navbar-toggle {
  background-color: white;
  border: 1px solid #CDDCE7;
  border-radius: 4px;
  float: right;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  padding: 9px 10px;
  position: relative;
}

.navbar-toggle .icon-bar {
  background-color: #1A2A35;
  border-color: #1A2A35;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background-color: #CDDCE7;
}



/******************************************/
/******************************************/
/* LOGO STUFF */
/******************************************/
/******************************************/
#logo {
  position: fixed;
  margin: 0;
  width: 100%;
  top:51px;
  height: 0;
}

#logo img {
  position: absolute;
  width: 100%;
  height: auto;
  top:0;
  left: 0;
  opacity: .33;
}

@media (max-width: 767px) {
  #logo,
  header ul.location {
    display: none;
  }
}

@media (min-width: 768px) {
}

/******************************************/
/******************************************/
/* HOMEPAGE STUFF */
/******************************************/
/******************************************/
.carousel-caption {
  right: 15%;
  bottom: 20%;
  left: 15%;
  padding: 0;
  color: #1a2a35;
  text-align: center;
  text-shadow: none !important;
  height: 60%;
  display: none;
}

.carousel-caption h2 {
  font-size: 5.5em;
  line-height: .9;
}

.carousel-indicators li {
  border-color: #1a2a35;
}

.carousel-indicators .active {
  background-color: #1a2a35;
}

.carousel-control, 
.carousel-control:hover, 
.carousel-control:active, 
.carousel-control:focus {
  border: none;
  color: #1a2a35;
  width: 10%;
}

.carousel-control.left {
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(255, 255, 255, 0.5) 0), color-stop(rgba(255, 255, 255, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77FFFFFF', endColorstr='#00FFFFFF', GradientType=1);
}

.carousel-control.right {
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(255, 255, 255, 0.0001)), to(rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(255, 255, 255, 0.0001) 0), color-stop(rgba(255, 255, 255, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#77FFFFFF', GradientType=1);
}


.homepage-graphic { 
  margin-top: 30px;
  padding: 0;
}

.homepage-graphic h2 {
  margin: 0;
}

.link-lists ul,
.upcoming ul {
  border-top: 3px solid #1a2a35;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-lists ul li,
.upcoming ul li {
  border-top: 1px solid #1a2a35;
  list-style: none;
  margin: 0;
  padding: 7px 0 5px;
}

.link-lists p {margin-bottom: 0;}

#emailcapture {
  border: 3px solid;
  margin-top: 30px;
  margin-bottom: 25px;
  padding-top:4px;
  padding-bottom: 6px;
}

#emailcapture h2 {
  padding-right: 0;
}

#emailcapture form {
  padding-top: 15px;
}
  
#emailcapture .btn-info {
  color: #fff;
  background-color: #2b4557;
  border-color: #1a2a35;
  width: 100%;
  /**/
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

#emailcapture .btn-info:hover {
  background-color: #1a2a35;
}

.news .link-lists time,
.press-list time {
  letter-spacing: 1px;
  font-size: .75em;
  text-transform: uppercase;
}

.news .link-lists p,
.press-list p {
  font-family: 'New Century Schoolbook', Constantia, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  margin-top: 3px;
  margin-bottom: -2px;
}

/******************************************/
/******************************************/
/* ABOUT & BIO STUFF */
/******************************************/
/******************************************/
#board.border-top,
.pad-top.border-top {
  border-top: 3px solid #1a2a35;
  margin-top: 30px;
}

section img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.toggle .bio {
  position: relative;
}

.toggle .bio img,
.toggle .bio h2 {
  cursor: pointer;
}

.toggle .bio h2,
.project-thumb h3 { font-size: 1.2em; }
.toggle .bio h3 { font-size: 1em; }

.toggle .bio h2, 
.toggle .bio h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.toggle .bio h2 {
  margin-top: 15px;
}

.toggle .bio p {
  background: white;
  margin: 0 -160px;
  position: absolute;
  z-index: 9;
  padding: 15px;
}



/* PROJECT PAGE */

.project-thumb time {
  font-weight: 700;
  letter-spacing: 1px;
}

.project-thumb h3 { margin-top: 10px; }
.project-thumb h3,
.project-thumb p {
  line-height: 1.2;
  margin-bottom: 5px;
}

/* Speaker Series styles */
#speakerintro .blurbs {
  padding-top: 20px;
}

#speakerintro .blurbs h3 {
  margin-top: 0;
  padding-top: 0;
}

#speakerintro .blurbs h4 {
  margin-top: 8px;
}

#speakerintro .blurbs p {
  margin-bottom: 30px;
}

#speakers .row h2 {margin-bottom: 0; font-size: 1.25em;}
#speakers .row div .btn {margin-bottom: 15px; width: 100%;}

/* individual speaker pages */
.date-time, .date-time p {
  font-family: 'New Century Schoolbook', Constantia, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.date-time {
  font-size: 2em;
  font-weight: 700;
  margin-top: 15px;
}

/******************************************/
/******************************************/
/* Footer Styles */
/******************************************/
/******************************************/

footer {
  padding-top: 0;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

footer h3, footer ul, footer p {
  font-size: 1em !important;
}

footer nav {
  margin: 0;
  padding: 0;
}

footer .row ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer h3 { letter-spacing: 1px;}
footer, footer h3, footer p, footer a { color: #1a2a35; }
footer a:hover { color: #2b4557 !important; }

footer .secondary p,
footer .secondary a { font-size: 10px !important; letter-spacing: 1px;}

@media (max-width: 767px) {
  footer .secondary .text-right {
    text-align: left;
  }
}
