
/* ========================================== */
/* ITC FRANKLIN GOTHIC FONT-FACE DECLARATIONS */
/* ========================================== */

@font-face {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('ff/fgbook.eot');
  src: local('ITC Franklin Gothic Std Book'), local('ITCFranklinGothicStd-Book'), local('☺'), url('ff/fgbook.woff') format('woff'), url('ff/fgbook.ttf') format('truetype'), url('ff/fgbook.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: italic;
  font-weight: 400;
  src: url('ff/fgbookital.eot');
  src: local('ITC Franklin Gothic Std Book Italic'), local('ITCFranklinGothicStd-BookIt'), local('☺'), url('ff/fgbookital.woff') format('woff'), url('ff/fgbookital.ttf') format('truetype'), url('ff/fgbookital.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('ff/fgdemi.eot');
  src: local('ITC Franklin Gothic Std Demi'), local('ITCFranklinGothicStd-Demi'), local('☺'), url('ff/fgdemi.woff') format('woff'), url('ff/fgdemi.ttf') format('truetype'), url('ff/fgdemi.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic';
  font-style: italic;
  font-weight: 700;
  src: url('ff/fgdemiital.eot');
  src: local('ITC Franklin Gothic Std Demi Italic'), local('ITCFranklinGothicStd-DemiIt'), local('☺'), url('ff/fgdemiital.woff') format('woff'), url('ff/fgdemiital.ttf') format('truetype'), url('ff/fgdemiital.svg') format('svg');
}

/** FONT STACK TO USE FOR NOW: **/
/** font-family: 'Franklin Gothic', 'Liberation Sans', 'Nimbus Sans L', Helvetica, Arial, Sans-Serif; **/

html,body,h1,h2,h3,h4,h5,h6,p,span,strong,small {
  font-family: 'Franklin Gothic', 'Liberation Sans', 'Nimbus Sans L', Helvetica, Arial, Sans-Serif
}

h1,h2,h3,h4,h5,h6 { font-weight: 700; }

.main article {
  padding-top: 80px;
}

.row  {
  margin-bottom: 30px;
}

.noleftmargin {padding-left: 0 !important;}

footer {
  background: #eee;
  height: 1000px;
  margin-top: 100px;
}

#hero {height: 450px;}
#hero .fourfifty {
  padding-top: 50px;
  width: 50%;
  transform:rotate(-11.25deg);
  -ms-transform:rotate(-11.25deg); 
  -moz-transform:rotate(-11.25deg);
  -webkit-transform:rotate(-11.25deg);
  -o-transform:rotate(-11.25deg);
}

.someheight-1 {
  height: 450px;
}

.someheight-2 {
  height: 320px;
}

.someheight-3 {
  height: 270px;
}

.home .row div,
.shop .row div {
  height: 100%;
}

.col-lg-6 p {
  background: #DDD;
  height: 100%;
}

.col-lg-4 p {
  background: #CCC;
  height: 100%;
}

.col-lg-3 p {
  background: #BBB;
  height: 100%;
}

.col-lg-2 p  {
  background: #AAA;
  height: 100%;
}

#hero {
  background: #eee;
  margin-bottom: 30px;
}

#emailcapture {
  border: 3px solid;
  margin-bottom: 30px;
  padding: 15px;
}
#emailcapture form {
  padding-top: 15px;
  }

.progress, .progress-bar {
  height: 30px;
}

.disabled { display: none !important; }