@media screen and (max-width:430px){
	.layers .layer {
		float: none;
	}
}
@media screen and (orientation:landscape){
  #main{
    width: 160px;
    float: left;
  }
  #secondary{
    width: 320px;
    float: left;
  }
}
