/* --------------------------------------*/
/* ---------->>> Resuables <<<-----------*/
/* --------------------------------------*/
/* # Colors */
/* # alt colors or tweaks */
/* «— is there some other way to do this??? */
/**********************/
/** # helper classes **/
/**********************/
.add-top {
  margin-top: 1.5em;
}
.add-top-2x {
  margin-top: 3em;
}
.add-bottom {
  margin-bottom: 1.5em;
}
.add-bottom-2x {
  margin-bottom: 3em;
}
/** for anything needing to stick to whole page in 1 place **/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------*/
/* ---------->>> Some ideas for the homepage and new header/footer... <<<-----------*/
/* ---------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
body.interior {
  padding-top: 95px;
}
/********************************/
#upperdeck {
  height: 180px;
  position: relative;
}
#upperdeck h1 {
  margin-left: 150px;
  margin-top: 73px;
}
#logo {
  position: absolute;
  min-height: 1px;
  margin: 15px 0;
  width: auto;
  height: 150px;
  top: 0;
}
#logo img {
  position: absolute;
  width: auto;
  height: 150px;
  top: 0;
  left: 0;
  opacity: .33;
  vertical-align: middle;
}
#upperdeck .contactinfo {
  position: absolute;
  top: 30px;
  right: 322px;
}
#upperdeck .description {
  position: absolute;
  top: 30px;
  right: 0;
}
.description p {
  font-size: 12.5px;
}
/********************************/
.interior header h1 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.interior header h1 a,
.interior header h1 a:hover {
  text-decoration: none;
  border-bottom: none;
}
.interior header .navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 4px;
}
.interior header nav.bordered {
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0 10px;
}
.interior header .pull-right {
  margin-top: -23px;
}
/*********************/
/** Scroll Styles **/
/*********************/
figure img {
  max-width: 100%;
}
figure figcaption {
  margin-top: 1.5em;
}
.scroll h1 {
  margin: 0;
}
h1 span.volume {
  background: #d55aa0;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1.3em;
  /**/
  display: inline-block;
  border-radius: 10em;
  height: 2em;
  width: 2em;
  padding: .5em .6em .5em .4em;
  vertical-align: middle;
}
.scroll h2 {
  margin: 7px 0;
}
/*********************/
/** Grit Styles **/
/*********************/
.grit main .topper {
  margin: 100px 0 150px;
  font-size: 200%;
}
.topper h1 {
  font-size: 3em;
}
.topper .small {
  font-size: 75%;
}
.grit aside {
  margin-top: 60px;
}
.grit article > section {
  margin-bottom: 4em;
}
aside .affix {
  position: fixed !important;
  top: 100px;
}
/*********************/
/*********************/
/*********************/
footer {
  margin-top: 4em;
}
.sponsors h4 {
  border-bottom: 1px solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 24px;
  overflow: visible;
}
footer .sponsors ul {
  padding-top: 7px;
  border-bottom: 1px solid;
  text-align: center;
}
.sponsors ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2% 16px;
}
.sponsors ul li:first-child {
  margin-left: 0;
}
.sponsors ul li:last-child {
  margin-right: 0;
}
.sponsors ul li:nth-child(1) {
  width: 19%;
}
.sponsors ul li:nth-child(2) {
  margin-top: -2px;
  width: 9%;
}
.sponsors ul li:nth-child(3) {
  margin-top: 3px;
  width: 9%;
}
.sponsors ul li:nth-child(4) {
  width: 16%;
}
.sponsors ul li:nth-child(5) {
  margin-top: -5px;
  width: 6%;
}
.sponsors ul li:nth-child(6) {
  width: 16%;
}
.sponsors ul li img {
  width: 100%;
  max-width: 100%;
}
/*********************/
/*********************/
/*********************/
footer .blurb {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 1.25em;
  text-transform: none;
}
#emailcapture h2 {
  padding-right: 0;
  font-size: 24px;
  line-height: 32px;
}
/*** some new homepage crap now that it's full width */
.carousel-inner .item {
  height: 570px;
  width: 100%;
}
.carousel-inner .item img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
}
header nav.bordered {
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding: 0;
  margin: 0 15px;
}
