@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,900,400italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Chela+One);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);

.playfair     { font-family: 'Playfair Display', serif !important; }
.lato         { font-family: 'Lato', sans-serif !important; }
.merriweather { font-family: 'Merriweather', serif !important; }
.oswald       { font-family: 'Oswald', sans-serif !important; }
.abril        { font-family: 'Abril Fatface', serif !important; }
.chela        { font-family: 'Chela One', cursive !important; }
.ptsans       { font-family: 'PT Sans', sans-serif !important; }
.fraktur      { font-family: 'UnifrakturMaguntia', cursive !important; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

/* specific type on special sections or pages */

#bigtext h1 span {
  font-style: italic;
}

