/* something is here now */

nav {
  font-size: 125%;
  font-weight: 900;
  text-align: center;
}

.bt3,
.bb3 {
  border-width: 3px;
}

.border-black {
  border-color: black;
}

.evenly-spread {
  width: calc(100% / 7);
  display: block;
  float:left;
}
.evenly-spread a.btn {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.evenly-spread a.btn:hover {
  background: black;
  color: white;
}

.bigblurb {
  position: relative;
  left: -3em;
  top: 1em;
  transform: rotate(-5.75deg);
}
