/*** Colors ***/
/*
  red           rgba(241,97,74,1)
  orange        rgba(255,117,44,1)
  yellow        rgba(255,234,58,1)
  light green   rgba(201,222,121,1)
  dark green    rgba(40,109,76,1)
  blue          rgba(0,75,124,1)
  dark blue     rgba(26,42,53,1)
*/

/********/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* type stuff */
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Base type and layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 100% so that all the REM measurements throughout this doc are
are based on 16px sizing. So basically 1rem = 16px :) — should a better solution be devised? */
html {
  font-size: 100%;
}

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  /* do I want a better, wider ranging font-stack? */
  font-family: Balto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(26,42,53,1);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}

/* Base Typography
  these are currently way to large and slightly strange...
  come up with better standard for deciding sizes - modularscale based on 1.618?
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: normal;
}
h1 { font-size: 3.0rem;  }
h2 { font-size: 2.5rem;  }
h3 { font-size: 2.0rem;  }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem;  }
h6 { font-size: 1.33rem; }

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

ul {
  margin-bottom: 1em;
  line-height: normal;
}

small,
.small {
  font-size: .9rem;
}

/*
  center, left and right align text.
  it is my personal opinion that you should never use "text-align: justify;" on the web.
  browsers aren't good enough at typesetting justified text.
  I have not created those styles for that reason.
*/
.text-center,
.textcenter,
.center-text,
.centertext,
.align-center,
.center-align,
.aligncenter,
.centeralign {
  text-align: center;
}

.text-right,
.right-text,
.textright,
.righttext,
.align-right,
.right-align,
.alignright,
.rightalign {
  text-align: right;
}

.text-left,
.left-text,
.textleft,
.lefttext,
.align-left,
.left-align,
.alignleft,
.leftalign {
  text-align: left;
}

img { max-width: 100%; }

/** Base 2 column grid **/
/* Visibility Classes */
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}

.visible-lg,
.hidden-sm {
  display: none;
  visibility: hidden;
}

.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}

/* floats and clears */
.left,
.floatleft,
.float-left,
.leftfloat,
.left-float {
  float: left;
}

.right,
.floatright,
.float-right,
.rightfloat,
.right-float {
  float: right;
}

.clear,
.clearboth,
.clear-both,
.both-clear,
.bothclear {
  clear: both;
}
.clearleft,
.leftclear,
.clear-left,
.left-clear {
  clear: left;
}
.clearright,
.rightclear,
.clear-right,
.right-clear {
  clear: right;
}

.clearfix::after,
.clear-fix::after,
.cf::after,
.row::after,
.grouped::after,
.group::after {
  content: '';
  display: table;
  clear: both;
}


.list-reset {
  padding-left: 0;
  list-style: none;
}

/* columnar stuff */
#wrapper,
.wrapper,
.container {
  margin: 0 auto;
  padding: 0 .75rem 1.5rem .75rem;
  width: 100%;
}

header #wrapper,
header .wrapper,
header .container {
  padding-bottom: 0;
}

.group,
.grouped,
.row {
  margin: 0;
}

/* columnar stuff */
.column,
.columns {
  float: left;
  margin: 0 0 1.5rem 0;
  padding: 0 .75rem;
}

/* Start of the Grid
===========================================*/
/*
  widths are set using CSS calc() function
  width: calc(100% / x * y);
  where x = #of columns total, and y = #of columns the class crosses.
  by default this is a 12 column grid, so x = 12
*/
.one,
.two,
.three,
.four,
.five,
.six,
.halfwidth,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.fullwidth    { width: 100%; }
/*everything goes full width on skinny viewports */

@media (min-width: 40em) {
  /** 4 column grid changeup **/
  #wrapper,
  .wrapper,
  .container {
    min-width: 30rem;
    width: 80%;
  }

  /* the Grid
  ===========================================*/
  /*
    widths are set using CSS calc() function
    width: calc(100% / x * y);
    where x = #of columns total, and y = #of columns the class crosses.
    by default this has been set as a 12 column grid, so x = 12.
    y matches numerically the class number.
  */
  .one                   { width: calc(100% / 12 * 03); }
  .two                   { width: calc(100% / 12 * 03); }
  .three                 { width: calc(100% / 12 * 03); }
  .four                  { width: calc(100% / 12 * 06); }
  .five                  { width: calc(100% / 12 * 06); }
  .six, .halfwidth       { width: calc(100% / 12 * 06); }
  .seven                 { width: calc(100% / 12 * 09); }
  .eight                 { width: calc(100% / 12 * 09); }
  .nine                  { width: calc(100% / 12 * 09); }
  .ten                   { width: calc(100% / 12 * 12); }
  .eleven                { width: calc(100% / 12 * 12); }
  .twelve, .fullwidth    { width: calc(100% / 12 * 12); }

}

@media (min-width: 60em) {

  /** 6 column grid changeup **/

  /* the Grid
  ===========================================*/
  /*
    widths are set using CSS calc() function
    width: calc(100% / x * y);
    where x = #of columns total, and y = #of columns the class crosses.
    by default this has been set as a 12 column grid, so x = 12.
    y matches numerically the class number.
  */
  .one                   { width: calc(100% / 12 * 02); }
  .two                   { width: calc(100% / 12 * 02); }
  .three                 { width: calc(100% / 12 * 04); }
  .four                  { width: calc(100% / 12 * 04); }
  .five                  { width: calc(100% / 12 * 06); }
  .six, .halfwidth       { width: calc(100% / 12 * 06); }
  .seven                 { width: calc(100% / 12 * 08); }
  .eight                 { width: calc(100% / 12 * 08); }
  .nine                  { width: calc(100% / 12 * 10); }
  .ten                   { width: calc(100% / 12 * 10); }
  .eleven                { width: calc(100% / 12 * 12); }
  .twelve, .fullwidth    { width: calc(100% / 12 * 12); }
}

/** XL **/
@media (min-width: 75rem) {
  /** 12 column grid changeup **/

  #wrapper,
  .wrapper,
  .container {
    max-width: 75rem;
  }

  .group,
  .grouped,
  .row {
    margin: 0 -.75rem;
  }

  /* the Grid
  ===========================================*/
  /*
    widths are set using CSS calc() function
    width: calc(100% / x * y);
    where x = #of columns total, and y = #of columns the class crosses.
    by default this has been set as a 12 column grid, so x = 12.
    y matches numerically the class number.
  */
  .one                   { width: calc(100% / 12 * 01); }
  .two                   { width: calc(100% / 12 * 02); }
  .three                 { width: calc(100% / 12 * 03); }
  .four                  { width: calc(100% / 12 * 04); }
  .five                  { width: calc(100% / 12 * 05); }
  .six, .halfwidth       { width: calc(100% / 12 * 06); }
  .seven                 { width: calc(100% / 12 * 07); }
  .eight                 { width: calc(100% / 12 * 08); }
  .nine                  { width: calc(100% / 12 * 09); }
  .ten                   { width: calc(100% / 12 * 10); }
  .eleven                { width: calc(100% / 12 * 11); }
  .twelve, .fullwidth    { width: calc(100% / 12 * 12); }
  /*
    you can easily add more columns (or remove columnes) by
    changing 12 to the number of total columns you want, and then
    add additional classes for the extra columns...
    like if you want 16 column base grid, you'd get something like
    width: calc(100% / x * y);
    x would be 16
    width: calc(100% / 16 * #columnsSpanned);
    make sense?
  */


  /* some standard offsets */
  .offset-by-one         { margin-left: calc(100% / 12 * 01); }
  .offset-by-two         { margin-left: calc(100% / 12 * 02); }
  .offset-by-three       { margin-left: calc(100% / 12 * 03); }
  .offset-by-four        { margin-left: calc(100% / 12 * 04); }
  .offset-by-five        { margin-left: calc(100% / 12 * 05); }
  .offset-by-six,
  .offset-by-half        { margin-left: calc(100% / 12 * 06); }
  .offset-by-seven       { margin-left: calc(100% / 12 * 07); }
  .offset-by-eight       { margin-left: calc(100% / 12 * 08); }
  .offset-by-nine        { margin-left: calc(100% / 12 * 09); }
  .offset-by-ten         { margin-left: calc(100% / 12 * 10); }
  .offset-by-eleven      { margin-left: calc(100% / 12 * 11); }
  .offset-by-twelve      { margin-left: calc(100% / 12 * 12); }

  .visible-lg {
    display: block;
    visibility: visible;
  }
  .visible-sm,
  .hidden-lg {
    display: none;
    visibility: hidden;
  }

}
































/* Centering in the unknown */
/* from http://css-tricks.com/centering-in-the-unknown/
  ---------------------------------------------------------*/
/* This parent can be any width and height */
.block {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}





/**
These are some styles related to the crazy homepage solution Connor and Kristian are developing
**/

/*** testing an idea ***/

.imged {
  background-color: rgba(255,234,188,1);
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
}

.imged a {
  background: rgba(26,42,53,.075);
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: inherit;
}
.imged a:hover {
  background: rgba(26,42,53,.5);
}
.imged.one {
  background-image: url('img/tile_3.jpg');
}

.imged.two {
  background-image: url('img/tile_5.gif');
}

.imged.three {
  background-image: url('img/tile_6.jpg');
}

.imged.four {
  background-image: url('img/tile_4.jpg');
}

.imged.five {
  background-image: url('img/tile_1.jpg');
}

.imged.six {
  background-image: url('img/tile_2.jpg');
}

.twelve.columns .tile,
.six.columns .tile,
.four.columns .tile,
.two.columns .tile {
  color: white;
}

.bigBlock {
  position: absolute;
  width: 100px;
}

.bigBlock h1 {
  text-transform: uppercase;
}

.bigBlock p {
  position: absolute;
  max-width: 75%;
}

/*XL*/

.twelve.columns .bigBlock h1 {
  font-size: 60px;
  left: 3%;
  top: 3%;
}

.twelve.columns .bigBlock p {
  font-size: 16px;
  right: 5%;
  bottom: 5%;
}

/*L*/

.six.columns .bigBlock h1 {
  font-size: 36px;
  left: 6%;
  top: 6%;
}

.six.columns .bigBlock p {
  font-size: 16px;
  right: 6%;
  bottom: 3%;
}

/*M*/

.four.columns .bigBlock h1 {
  font-size: 24px;
  top: 9%;
  left: 9%;
}

.four.columns .bigBlock p {
  font-size: 16px;
  right: 5%;
  bottom: 2%;
}

/*S*/

.two.columns .bigBlock h1 {
  font-size: 24px;
  top: 9%;
  left: 9%;
}

.two.columns .bigBlock p {
  font-size: 16px;
  right: 9%;
}


/**
NOTES AND HELP:
- look into this more: http://www.smashingmagazine.com/2011/08/23/the-semantic-grid-system-page-layout-for-tomorrow/
- Maybe try exploring more of less.js's powers for dynamically building and nesting styles?
- http://tylertate.com/blog/2013/06/11/retina-images-using-media-queries-and-LESS-CSS.html
- http://nicolasgallagher.com/flexible-css-cover-images/
- http://responsive.gs/ (really nice code coloring/styling)
- http://jxnblk.com/rebass/
- http://jxnblk.com/writing/posts/mathematical-web-typography/
- http://eng.wealthfront.com/2013/08/functional-css-fcss.html
- http://glenmaddern.com/articles/interoperable-css
- http://www.w3.org/TR/wai-aria-practices/#menu
- http://jxnblk.com/react-fitter-happier-text/
**/
