
/** typography? (should this be its own css file too?) **/
* {
  /* type stuff */
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small {
  font-size: 80%;
}

.large, .lead {
  font-size: 120%;
}

/** other things... **/
img {
  max-width: 100%;
}
