/**
“mobile first ideology”
Style for stacked setup first,
then only work in more complex design and functionality through
media queries for wider media.
Override as little as possible.
Try to just add.
**/

/** hide drawers on "skinny" as well as by default on "wide" **/
nav ul .drawer {
  display: none;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu .item > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-menu .item > a:hover,
.main-menu .item > a:active,
.main-menu .item > a:focus {
  color: white;
  background: black;
}

@media (min-width: 768px) {
  /** drawers only show on hover/focus in wider view modes **/
  nav ul .item:hover  > .drawer,
  nav ul .item:active > .drawer,
  nav ul .item:focus  > .drawer,
  /* "+": plus sign is the next sibling selector. */
  /* this only works if ".drawer" is right after an "a" in the html */
  nav ul .item > a:hover  + .drawer,
  nav ul .item > a:active + .drawer,
  nav ul .item > a:focus  + .drawer {
    display: block;
  }

  /* actually style the menu */
  /* horizontal display is only for wider screens */
  .menu-bar {
    background: white;
    position: relative;
    width: 100%;
  }

  .menu-bar .item {
    float: left;
    width: calc(100% / 7); /** width based on # of menu items **/
  }

  /** Style first level menu items for horizontal nav bar **/
  .menu-bar .item > a {
    display: block;
    padding: 1.25rem 0;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
  }

  /** this controls the way the "drawer" works **/
  .drawer {
    background: white;
    position: absolute;
    width: 100%;
    left:0;
    right:0;
  }

  /* do this with grid classes on production */
  .drawer p,
  .drawer ul { float: left; width: 33%; padding: 1em; margin: 0; }

}
