body { padding: 0 5px; margin: 0; }

/** special header homepage stuff **/
header .top {
  position: relative;
}

header figure.logo {
  margin: 0;
  padding: 0;
  max-width: 200px;
  text-align: center;
}

header .top .blurb,
header .top nav.right {
  display: none;
}

@media (min-width: 768px) {
  header figure.logo {
    width: 25%;
    max-width: none;
  }
  header .top .blurb,
  header .top nav.right {
    display: block;
  }
  nav.right {
    top:    0;
    right:  0;
    bottom: 0;
    /**/
    width: 25%;
    text-align: center;
  }

  nav.right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 12.5%;
    left:0;
    right:0;
  }
  nav.right a {
    color: black;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
  }

}




/****** trying to figure out some griddy things for homepage ******/
.three-by {
  height: 750px;
}
.two-by {
  height: 500px;
}
.one-by {
  height: 250px;
}

.home.tile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 5px solid white;
}

.home.tile img {
  display: none;
  visibility: hidden;
}

.tile a.area {
  text-decoration: none;
  display: block;
  position: absolute;
  height:100%;
  widows: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  /**/
  color: inherit;
}

.tile:hover a.area,
.tile:focus a.area,
.tile a.area:hover,
.tile a.area:focus {
  background-color: rgba(255,255,255,.5);
  border: 1em solid currentColor;
}

.home header { margin-bottom: 2em; }
footer.border-top {
  margin-left: -5px;
  margin-right: -5px;
  height: 300px;
}
